# https://git-scm.com/docs/gitignore
# https://jasonstitt.com/gitignore-whitelisting-patterns

# Ignore everything
*

# But descend into directories
!*/

# Keep these special files
!licence.txt
!license.txt
!readme.md
!changelog.txt
!attribution.txt
!.gitignore

# Keep everything in modportal
!/modportal/**
!/tools/**

# Keep text files
!*.lua
!*.cfg
!*.json

# Keep assets
!*.png
!*.ogg
!*.ttf

# Keep documentation
!/docs/**/*.html
!/docs/**/*.js
!/docs/**/*.css
!/docs/**/*.ld

# Keep tools
!/tools/**/*.cmd
!/tools/**/*.py

# Block underscore prefixed files
_*

# But keep special files
!__init__.lua
!init.lua